/* line 1, /home/lian/deploy/regulation/app/assets/stylesheets/login.scss */
body {
  background: url(/assets/timg-7a1553f4112d9440cfcbea7b238481dae8f2b4a8165a75268ad9eb25de835021.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

/* line 7, /home/lian/deploy/regulation/app/assets/stylesheets/login.scss */
.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 13, /home/lian/deploy/regulation/app/assets/stylesheets/login.scss */
.navbar {
  min-height: 60px;
  padding-top: 5px;
}

/* line 17, /home/lian/deploy/regulation/app/assets/stylesheets/login.scss */
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}
/* line 20, /home/lian/deploy/regulation/app/assets/stylesheets/login.scss */
.navbar-default:hover {
  background: rgba(0, 0, 0, 0.25);
}
/* line 23, /home/lian/deploy/regulation/app/assets/stylesheets/login.scss */
.navbar-default .navbar-nav > li > a {
  color: white;
}
/* line 25, /home/lian/deploy/regulation/app/assets/stylesheets/login.scss */
.navbar-default .navbar-nav > li > a:hover {
  color: #ff8140;
}
/* line 29, /home/lian/deploy/regulation/app/assets/stylesheets/login.scss */
.navbar-default .navbar-brand {
  color: white;
}
/* line 31, /home/lian/deploy/regulation/app/assets/stylesheets/login.scss */
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ff8140;
}

/* line 37, /home/lian/deploy/regulation/app/assets/stylesheets/login.scss */
.login {
  width: 426px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.25);
  padding: 40px 80px 5px 80px;
  color: white;
  margin: auto;
}
/* line 45, /home/lian/deploy/regulation/app/assets/stylesheets/login.scss */
.login a {
  color: white;
  text-decoration: none;
}
/* line 49, /home/lian/deploy/regulation/app/assets/stylesheets/login.scss */
.login a:hover {
  color: pink;
  text-decoration: none;
}
/* line 53, /home/lian/deploy/regulation/app/assets/stylesheets/login.scss */
.login input {
  border-left-color: transparent;
}
/* line 56, /home/lian/deploy/regulation/app/assets/stylesheets/login.scss */
.login .input-group-addon {
  background-color: white;
}
