<table>
  <th>name</th>
  <th>email</th>
  <tr>
    <td><%= @user.name %></td>
    <td><%= @user.email %></td>
  </tr>
</table>

<% if @user.images.attached? %>
  <% @user.images.each do |image| %>
    <%= image_tag image %>
  <% end %>
<% end %>