.modal.fade id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  .modal-dialog role="document"
    .modal-content
      .modal-header
        button type="button" class="close" data-dismiss="modal" aria-label="Close"
          span aria-hidden="true"
            | &times;
        h4.modal-title
          | 服务条款 隐私声明
      .modal-body
        p
          | 欢迎访问本系统
        p
          | 本网站及其上的系统只提供给获得授权的用户使用.