default: &default
  host: localhost
  port: 6379

development:
  <<: *default
  db: 0
  namespace: 'regulation_dev_0'

test:
  <<: *default
  db: 1
  namespace: 'regulation_test_1'

production:
  host: <%= ENV['REDIS_HOST'] || 'localhost' %>
  port: <%= ENV['REDIS_PORT'] || 6379 %>
  db: <%= ENV['REDIS_DB'] || 2 %>
  namespace: 'regulation_prod'

