body{
  background: asset_url('timg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

// navbar
.navbar {
  min-height: 60px;
  padding-top: 5px;
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
  &:hover {
    background-color: #2a31397d;
  }

  .navbar-nav > li > a {
    color: white;
    &:hover {
      color: #ff8140;
    }
  }
  .navbar-brand {
    color: white;
    &:hover, &:focus {
      color: #ff8140;
    }
  }
}


