// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body, .main {
  height: 100%;
}
body{
  letter-spacing: .03em;
}
.main {
  padding-top: 5rem;
}
$mp:15px;
.float-r {
  float: right;
}
.flash {
  margin-left: -15px;
}
.paginate{
  margin-top: .2rem;
  margin-bottom: .2rem;
  text-align: center;
}
.panel-body {
  display: inline-flex;
}
.form-horizontal .form-group {
  margin-right: 0;
  margin-left: 0;
}
// navbar
.collpase.navbar-collpase .dropdown-menu .active {
  background-color: lightsteelblue;
  color: white !important;
  padding-left:12%;
}
// sign_up
.sign_up a:focus {
  color: #337ab7;
  outline:none;
  text-decoration: none;
}
// direct-upload start
.direct-upload {
  display: inline-block;
  position: relative;
  padding: 2px 4px;
  margin: 0 3px 3px 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-size: 11px;
  line-height: 13px;
}
.direct-upload--pending {
  opacity: 0.6;
}
.direct-upload__progress {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0.2;
  background: #0076ff;
  transition: width 120ms ease-out, opacity 60ms 60ms ease-in;
  transform: translate3d(0, 0, 0);
}
.direct-upload--complete .direct-upload__progress {
  opacity: 0.4;
}
.direct-upload--error {
  border-color: red;
}
input[type=file][data-direct-upload-url][disabled] {
  display: none;
}
//direct-upload end
// loan_fee
.loan-fee-list .dropdown-menu {
  min-width: 120px;
}
#form-loan-fee-search .input-group {
    display: inline-flex;
}
#form-loan-fee-search select {
  width: 105%;
}